<section class="copy">
    <p>
        <strong>EBB are a new basketball organisation looking to set up 3v3 competitive fixtures in Langley/Slough area for 16yo and above. We are looking to set up both weekly leagues and tournament days! If you don't have a team you can come down on the day and we can try make you a team!
        </strong>
    </p>
    <p>
        We aim to create a competitive and enjoyable environment for everyone, matching up teams of similar abilities where possible.
    </p>

    <p>
        Trophies for winners and also MVP are up for grabs for the league and tournaments, and footage of the games and best plays will be posted online with stats. All stats and scores will be posted to this website and will be available to view.
    </p>
    <p>
        If you would like to register for the tournament please use the form in the Sign up section and we'll be in touch! Any questions feel free to email us at <strong>ebb-basketball@hotmail.com</strong>.

<!--        Hurry as the cut off date is <strong>Monday 23rd October</strong>-->

    </p>
    <p> Have a look below at some videos of games played before! </p>
        <div class="inner">
            <iframe width="460" height="215" src="https://www.youtube.com/embed/79L2TvExvh0" frameborder="0" allowfullscreen></iframe> &nbsp;
            <iframe width="460" height="215" src="https://www.youtube.com/embed/L52tLAXbQPA" frameborder="0" allowfullscreen></iframe>
        </div>
        <br />
        <br />
        <div class="inner">
            <iframe width="460" height="215" src="https://www.youtube.com/embed/L5ARpS0CqgU" frameborder="0" allowfullscreen></iframe> &nbsp;
            <iframe width="460" height="215" src="https://www.youtube.com/embed/YoFXOWtykiQ" frameborder="0" allowfullscreen></iframe>
        </div>

</section>
